@font-face {
	font-family: Lato;
	src: url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
	font-weight: bold;
	font-style: normal;
}

body {
	font-family: Lato, ﻿Arial, sans-serif;
	font-size: 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	margin: 0;
	padding: 0;
}

.header {
	height: 63px;
	background: #323232;
	position: fixed;
	z-index: 20;
	top: 0;
	width: 100%;
}

.header-ceo {
	color: #323232;
	font-family: arial, sans-serif;
	font-size: 0;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 1px;
	user-select: none;
}

.triangle {
	position: absolute;
	top: 63px;
	left: 50%;
	margin: 0 0 0 -45px ;
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 26px 45px 0 45px;
	border-color: #323232 transparent transparent transparent;
}

.logo {
	margin: 9px 40px;
	position: relative;
	left: 3px;
}

.navigation {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	font-size: .7rem;
	text-transform: uppercase;
}

.navigation ul {
	padding: 0 0 10px 0;
	margin: 0;
}

.navigation li {
	user-select: none;
	list-style-type: none;
	float: left;
}

.navigation ul li:nth-child(2) {
	color: gray;
	margin: 0 10px;
}

.navigation li a {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}

.navigation li a:hover {
	color:#308976;
}

.item1, .item2 {
	position: absolute;
	top: 74px;
	border-bottom: 1px solid #e4e9eb;
	width: calc(50% - 120px);
}

.item1 {
	float: left;
	left: 30px;
}

.item2 {
	float: right;
	right: 30px;
}

main {
	margin: 152px 0 0 0 ;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}
.hexagon-container {
	user-select: none;
}
.row-native {
	position: relative;
	left: 102px;
}

.row-translate {
	position: relative;
	left: 1px;
	top: -41px;
}
.row-native:last-child {
	position: relative;
	top: -83px;
}

.hexagon {
	width: 180px;
	height: 210px;
	overflow: hidden;
	visibility: hidden;
	transform: rotate(120deg);
	display: inline-block;
	margin: 0 7px;
}

.hex-layer-1 {
	width: 100%;
	height: 100%;
	transform: rotate(-60deg);
	overflow: hidden;
	visibility: hidden;
}

.hex-layer-2 {
	width: 100%;
	height: 100%;
	transform: rotate(-60deg);
	overflow: hidden;
	visibility: visible;
	background: #CCC3;
	background-repeat: no-repeat;
	background-position: 50%;
}

.row {
	min-width: 1000px;
}

.hex-image-1 {
	background-image: url("../assets/images/portfolio/Layer 33.png");
}

.hex-image-2 {
	background-image: url("../assets/images/portfolio/Layer 31.png");
}

.hex-image-3 {
	background-image: url("../assets/images/portfolio/Layer 34.png");
}
.hex-image-4 {
	background-image: url("../assets/images/portfolio/Layer 35.png");
}

.hex-image-5 {
	background-image: url("../assets/images/portfolio/Layer 36.png");
}

.hex-image-6 {
	background-image: url("../assets/images/portfolio/Layer 44.png");
}

.hex-image-7 {
	background-image: url("../assets/images/portfolio/Layer 37.png");
}

.hex-image-8 {
	background-image: url("../assets/images/portfolio/Layer 38.png");
}

.hex-image-9 {
	background-image: url("../assets/images/portfolio/Layer 39.png");
}

.hex-image-10 {
	background-image: url("../assets/images/portfolio/Layer 40.png");
}

.hex-image-11 {
	background-image: url("../assets/images/portfolio/Layer 41.png");
}
.hex-image-12 {
	background-image: url("../assets/images/portfolio/Layer 43.png");
}

.hex-image-13 {
	background-image: url("../assets/images/portfolio/Layer 42.png");
}

.vertical__separator1, .vertical__separator2{
	border: 1px solid #e4e9eb;
	transform: rotate(90deg);
	width: 104px;
	position: absolute;
	top: 104px;
}

.vertical__separator1 {
	float: left;
	left: -64px;
}
.vertical__separator2 {
	float: right;
	right: 148px;
}

.dots {
	height: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: start;
	position: relative;
	top: -27px;
	float: left;
	left: -453px;
}

.dots a {
	height: 6px;
	width: 6px;
	background:  #ddd2c5;
	margin: 0 3px 11px 0;
}
.dots a:hover {
	background: #8b8784;
}

.separator {
	border: 1px solid #e4e9eb;
	width: calc(100% - 60px);
	margin: -27px 0 11px 0;
}

.info {
	background: #2eb398;
	width: 100%;
}

.wrapper {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	padding: 67px 0;
}

.article {
	width: 581px;
	margin-top: -6px;
}

.article h2 {
	font-size: 1.9rem;
	font-weight: normal;
	color: rgba(215, 252, 245, 255);
	margin: 0 0 8px 0;
}

.article h3{
	font-size: 1.3rem;
	font-weight: normal;
	color: rgba(32, 129, 109, 255);
	margin: 0 0 19px 0;
	letter-spacing: -0.08rem;
}

.hex-image-person {
	background-image: url("../assets/images/person.png");
}

.person {
	margin-right: 19px;
}

.subtitle {
	color: rgba(215, 252, 245, 255);;
	margin: 0 0 40px 0;
	font-size: 0.8rem;
	text-align: justify;
	line-height: 20px;
}

.social__networks {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
}

.social__networks a:hover {
	filter: contrast(10%);
}
.social__image-1 {
	background-image: url("../assets/images/social/iconmonstr-facebook-2.svg");
	height: 24px;
	width: 24px;
}

.social__image-2 {
	background-image: url("../assets/images/social/iconmonstr-twitter-2.svg");
	height: 24px;
	width: 24px;
}

.social__image-3 {
	background-image: url("../assets/images/social/iconmonstr-google-plus-2.svg");
	height: 24px;
	width: 24px;
}

.social__image-4 {
	background-image: url("../assets/images/social/iconmonstr-pinterest-2.svg");
	height: 24px;
	width: 24px;
}

.social__image-5 {
	background-image: url("../assets/images/social/iconmonstr-linkedin-2.svg");
	height: 24px;
	width: 24px;
}

.social__image-6 {
	background-image: url("../assets/images/social/iconmonstr-dribbble-2.svg");
	height: 24px;
	width: 24px;
}

input:invalid {
	border: 2px solid red;
}

